.main-part{
    width: 554px;
    height: 1123px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: 'Oswald', sans-serif;
}

.main-part-header{
    width: 100%;
    padding: 24px;
    background: var(--gray-6);
    background: linear-gradient(90deg, var(--space-cadet), var(--gray-6));
    color: var(--gray-4);
    
}

.main-part-header h1{
    width: 100%;
    font-size: 36px;
    text-align: left;
}

.main-part-section{
    width: 100%;
    padding: 24px;
}