@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Francois+One&family=Oswald:wght@200..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root{
  --persian-green:#1B998B;
  --rose:#ED217C;
  --space-cadet:#2D3047;
  --icterine: #FFFD82;
  --atomic-tangerine:#FF9B71;
  --baby-powder:#FCFFFD;
  --gray-1:#EBECE7;
  --gray-2:#DDDAD2;
  --gray-3:#C8C2BB;
  --gray-4:#C8C8C7;
  --gray-5:#333333;
  --gray-6:#898682;
}